* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-navigation {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #000;
    margin-bottom: 20px;

}

#main-navigation h1 {
    margin: 0;
    font-size: 1.8rem;
}

#main-navigation a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

#main-navigation nav a {
    padding-left: 20px;
}

#main-navigation nav a:hover {
    background: #333;
}



body {
  background-color: #e7e7e7;
}

#main-navigation {
  background-color: #390281;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#summary{
    display: flex;
    justify-content: center;
}

#summary img {
  margin: 8rem auto 3rem auto;
  width: 300px;
  max-width: 90rem;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
