{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/single-post.css" %}"/>

{% endblock  %}

{% block content  %}
    <article id="summary">
         <a href="">
            <img class="small-image" src="{% static "blog/images/mountains.jpg" %}" alt=Mountains/>
            <div class="posts__content">
                <h3>Mountain hiking</h3>
                <p>The views of the mountains are super great definitely </p>
            </div>
        </a>
    </article>


{% endblock  %}